/*fonte googele*/
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Khand');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Global */

:root{
    --fonte1:'Poppins';
    --fonte2:'Khand';
}

@font-face {
    font-family: 'Khand';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/khand/v17/TwMA-IINQlQQ0bpTUnQPTA.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior:smooth;
  }

a {
   /* font-family: var(--fonte2);*/
    text-decoration: none;
    color: white;
}
body{
    font-family: poppins;
}

ul {
    list-style: none;
}

.active {
    color: rgb(140, 201, 20);
    text-decoration: underline;
    font-weight: bold;
}

/*Navbar*/
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    font-family: 'Poppins';
    z-index: 999;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

.logo img{
    width: 100px;
    margin-left: 25px;
}
/*Home*/
header {
    width: 100%;
    background-image: url(img/img1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
    font-family: 'Poppins';
    z-index: 999;
}

.header-content h2 {
    font-size: 4vmin;
    font-family: 'Poppins';
}

.line {
    width: 150px;
    height: 4px;
    background-color: #8cc914;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px;
    background-color: #8cc914;
    border-radius: 30px;
    color: whitesmoke;
    
    
}

.menu-btn{
    position: absolute;
    top:30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/*Consultoria online*/
section {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    /*border: 1px solid red;
    outline: 1px solid blue;*/
}


.text-col {
    flex: 1;
    padding-left: 20px;
}

.about-text {
    /*border: 1px solid red;
    outline: 1px solid blue;*/
    font-family: 'Poppins';
    margin-right: 30px;
}

.about-text h2 {
    margin-top: 50px;
  ;
    font-size: 38px;
    text-align: center;

    margin-bottom: 20px;

}

.about-text h5 {
    color: #051937;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;

}

.about-text .line{
    align-items: center;
}

.about-text p {
    font-size: 15px;
    line-height: 20px;
    margin: 30px auto;
    padding: 0;
    text-align: center;
    color: #838181;
    font-family: 'Poppins', sans-serif;
}

/*caixinhas*/
.line2{
    width: 92%;
    height: 1px;
    background-color: #8cc914; 
    /*background-color: rgb(165, 165, 165); olhar pra ver se mudo a cor*/
    margin: 10px;
    border-radius: 3px;
    display: block;
    align-items: center;
}
.text-etapas p{
    font-size: 18px;
    line-height: 20px;
    margin: 30px auto;
    padding: 0;
    text-align: center;
    color: #838181;
}

.row-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 16px;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
.container-box{
    background-color: #fff;
    /*border: 1px solid #ddd;/*ver se deixo ou não*/
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgba(206,191,191,0.493);
    padding: 50px 10px;
    margin: 20px;
    transition: all 0.1s ease;
    cursor: pointer;
    margin-bottom: 90px;
}
.container-box:hover{
    transform: translateY(-3px);
    box-shadow: 0 15px 45px -20px rgba(206,191,191,0.8);
}
.container-box h3{
    font-size: 20px;
    margin-bottom: 20px;
    color: #051937;
}
.container-box p{
    font-size: 15px;
    line-height: 20px;
    color: #838181;
}
.container-box img{
    margin-bottom: 20px;
}

/*Sobre mim*/
#about-section{
    background-color: #f1f1f1;
    padding: 60px 0;
    width: 100%;
    margin: 0;
}
.about-img img {
    max-width: 400px;
    height: auto;
    width: 100%;
    border-radius: 6px;
    margin-left: 25%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
;
}
.about {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 10px;

}
.about-content{
    margin-right: 90px;
    margin-left: -50px;
}
.about-content h2{
    font-size: 38px;
}
.about-content h4{
    font-size: 20px;
    color: #000000;
    margin: 15px 0 20px;
}
.about .line{
    width: 150px;
    height: 4px;
    background-color: rgb(140, 201, 20);
    border-radius: 5px;
    margin-right: 100%;
}
.about p{
    margin-top: 25px;
    color: #838181;
}

/*Alunos*/
#alunos{
    background-color: #ffffff;
    color: 434343;
    padding: 40px 0;
    width: 100%;
    margin: 0;
    margin-top: 15px;
    text-align: center;
}
#alunos .inner{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;
}
.inner h1{
    font-size: 38px;
}
#alunos .border{
    width: 160px;
    height: 5px;
    background: #8cc914;
    margin: 26px auto;
}
#alunos .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#alunos .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial{
    background: #f1f1f1;
    padding: 30px;
    border-radius: 6px;
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
#alunos .name{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 15px 0;
}
.stars{
    color: #8cc914;
    font-size: 13px;
    margin-bottom: 15px;
}
#alunos .testimonial p{
    font-size: 15px;
    line-height: 22px;
    color: #838181;
    font-style: italic;
}


/*Planos*/
#plano{
    background-color: #f1f1f1;
    padding: 60px 0;
    width: 100%;
    margin: 0;
    border: 2px solid #cc0909;
    font-family: 'Poppins'
}
.planos-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 0;
}

.title h1{
    text-align: center;
    font-size: 38px;
}
.plano1-container{
    display: grid;
    align-items: center;
    position:relative;
    width: 250px;
    height: 340px;
    
}
.planos{
    position: absolute;
    width: 100%;
    height: 100%;
    
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    
}

.planos:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}

.planos-frente1{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: grey;
    color: #8cc914;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.planos-frente1 h3{
    color: #f1f1f1;
}
.planos-frente1 h1{
    margin-top: 10px;
}

.planos-tras1{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #8cc914;
    color: #333;
    transform: rotateY(180deg);
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}
.planos-tras1 h3{
    
    color: #fafafa;
}
.planos-tras1 h1{
    margin-top: 10px;
}
.p_rodape{
    margin-bottom: 8px;
}


.plano2-container{
    display: grid;
    align-items: center;
    position:relative;
    width: 250px;
    height: 340px;
    
}

.planos-frente2{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: grey;
    color: #8cc914;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.planos-frente2 h1{
    margin-top: 10px;
}
.planos-frente2 h3{
    color: #f1f1f1;
}

.planos-tras2{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #8cc914;
    color: #333;
    transform: rotateY(180deg);
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}
.planos-tras2 h1{
    margin-top: 30px;
}
.planos-tras2 h3{
    color: #f1f1f1;
}




/*Footer
footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    color: #666;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content,
  .footer-social {
    flex-basis: 45%;
    margin-bottom: 20px;
  }
  
  .footer-content h4,
  .footer-social h4 {
    margin-bottom: 10px;
  }
  
  .footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-social ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-social ul li:last-child {
    margin-right: 0;
  }
  
  .footer-social ul li a {
    color: #666;
    font-size: 20px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }


/* Mobile device */
@media only screen and (max-width: 850px) {
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .logo {
        position: static;
        margin-bottom: 20px;
    }
    .nav-links {
        width: 100%;
        height: auto;
        justify-content: center;
        background: #051937;
        padding: 20px;
        display: none;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links li {
        margin: 10px 0;
    }
    .nav-links li a {
        font-size: 18px;
    }
    .header-content h1 {
        font-size: 4vmax;
    }
    .header-content h2 {
        font-size: 3vmax;
    }
    .about-text h2 {
        font-size: 30px;
    }
    .about-text h5 {
        font-size: 18px;
    }
    .about-text p,
    .text-etapas p {
        font-size: 14px;
    }
    .row-items {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        grid-gap: 10px;
        margin-top: 20px;
    }
    .container-box {
        padding: 30px 10px;
        margin-bottom: 60px;
    }
    .about-img img {
        max-width: 300px;
        margin: 0 auto;
    }
    .about {
        grid-template-columns: 1fr;
        gap: 20px;
        align-items: center;
        text-align: center;
    }
    #alunos .col {
        flex: 100%;
        max-width: 100%;
    }
    .plano1-container,
    .plano2-container,
    .plano3-container {
        width: 100%;
        margin-bottom: 30px;
    }
    .plano1-container,
    .plano2-container,
    .plano3-container,
    .planos-frente1,
    .planos-frente2,
    
    .planos-tras1,
    .planos-tras2{
        border-radius: 10px;
    }
    footer {
        padding: 20px;
    }
    .footer-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-content,
    .footer-social {
        flex-basis: 100%;
    }
    .footer-content h4,
    .footer-social h4 {
        text-align: center;
    }
}
/*Animations*/
img {
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.1);
}
.ctn:hover {
    background-color: white;
    color: rgb(140, 201, 20);
    transition: 0.5s;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

/*    border: 2px solid #cc0909;*/