:root{
    --dourado: rgb(199,159,39);
    --cinza: #696969;
}

*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(223, 223, 223);
    font-family:Helvetica, Arial , sans-serif;
    color:darkred;
}

header .container{
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;  

}

main .borda{
    border: 2px solid black;
    height: 250px;
  

}

header .logo{
    margin-left: 5px; 
    color: var(--red);
    font-family: "Josefin Sans",Helvetica, sans-serif;
    font-size: 55px;
    margin-top: 10px;
}

.texto-principal{
    border: 2px solid red;
   font-size: 10px;
   background: linear-gradient(to right, rgba(255, 255, 255, 0.5),rgba(10, 10, 10, 0.5)100%), url('/img/capamuseu.jpg');
   height: 300px;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.texto-principal .titulo{
    margin-top: 15px;
    font-size: 55px;
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}

.titulo{
    margin-top: 15px;
    font-size: 60px;
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}

.barra .barrinha{
    font-size: 30px;
    margin-left: 10px;
    margin-top: 20px;
    font-family: "Josefin Sans",Helvetica, sans-serif;
    color:firebrick;
}

a{
    color: white;
    
}